<h1>This is the first contact on my list</h1>
<h2>Contact Name: <%= @first_contact.first_name %> <%= @first_contact.last_name %></h2>
<h3>Email: <%= @first_contact.email %></h3>
<h3>Phone Number: <%= @first_contact.phone_number %></h3>